SCRAM-SHA-1(-PLUS) + SCRAM-SHA-256(-PLUS) + SCRAM-SHA-512(-PLUS) + SCRAM-SHA3-512(-PLUS) supports

Dear @petergoldstein,

In first, I wish you a Happy New Year!

Can you add supports of :
- SCRAM-SHA-1
- SCRAM-SHA-1-PLUS
- SCRAM-SHA-256
- SCRAM-SHA-256-PLUS
- SCRAM-SHA-512
- SCRAM-SHA-512-PLUS
- SCRAM-SHA3-512
- SCRAM-SHA3-512-PLUS

You can add too:
- SCRAM-SHA-224
- SCRAM-SHA-224-PLUS
- SCRAM-SHA-384
- SCRAM-SHA-384-PLUS

"When using the SASL SCRAM mechanism, the SCRAM-SHA-256-PLUS variant SHOULD be preferred over the SCRAM-SHA-256 variant, and SHA-256 variants [RFC7677] SHOULD be preferred over SHA-1 variants [RFC5802]".

- SCRAM-SHA-1(-PLUS):
-- https://tools.ietf.org/html/rfc5802
-- https://tools.ietf.org/html/rfc6120

- SCRAM-SHA-256(-PLUS):
-- https://tools.ietf.org/html/rfc7677 since 2015-11-02
-- https://tools.ietf.org/html/rfc8600 since 2019-06-21: https://mailarchive.ietf.org/arch/msg/ietf-announce/suJMmeMhuAOmGn_PJYgX5Vm8lNA

- SCRAM-SHA-512(-PLUS):
-- https://tools.ietf.org/html/draft-melnikov-scram-sha-512

- SCRAM-SHA3-512(-PLUS):
-- https://tools.ietf.org/html/draft-melnikov-scram-sha3-512

https://xmpp.org/extensions/inbox/hash-recommendations.html

-PLUS variants:
- RFC5056: On the Use of Channel Bindings to Secure Channels: https://tools.ietf.org/html/rfc5056
- RFC5929: Channel Bindings for TLS: https://tools.ietf.org/html/rfc5929
- Channel-Binding Types: https://www.iana.org/assignments/channel-binding-types/channel-binding-types.xhtml
- Channel Bindings for SCRAM over TLS 1.3: https://tools.ietf.org/html/draft-whited-tls-channel-bindings-for-tls13 -> https://tools.ietf.org/html/draft-ietf-kitten-tls-channel-bindings-for-tls13

IMAP:
- RFC9051: Internet Message Access Protocol (IMAP) - Version 4rev2: https://tools.ietf.org/html/rfc9051

LDAP:
- RFC5803: Lightweight Directory Access Protocol (LDAP) Schema for Storing Salted: Challenge Response Authentication Mechanism (SCRAM) Secrets: https://tools.ietf.org/html/rfc5803

HTTP:
- RFC7804: Salted Challenge Response HTTP Authentication Mechanism: https://tools.ietf.org/html/rfc7804

2FA:
- Extensions to Salted Challenge Response (SCRAM) for 2 factor authentication: https://tools.ietf.org/html/draft-melnikov-scram-2fa

IANA:
- Simple Authentication and Security Layer (SASL) Mechanisms: https://www.iana.org/assignments/sasl-mechanisms/sasl-mechanisms.xhtml

Linked to:
- https://github.com/scram-xmpp/info/issues/1


Happy new year.

So most of this doesn't seem very relevant to Dalli.  It's basically just a listing of hash function references with some stuff at the end about HTTP, 2FA and SASL mechanisms.

As far as the hash functions go, that's already supported.  Just create a digest_class and pass it into the client.  The hash functions in Dalli have nothing to do with authentication, encryption, or any other security concern.  I'm happy to write up a brief wiki page explaining how you can wrap any hash algorithm in a digest class, suitable for consumption by Dalli.

As far as HTTP security goes, that's irrelevant to Dalli.  Dalli doesn't use HTTP(S).

In terms of SASL (and 2FA), Dalli is first and foremost dependent on what's supported by memcached.  There's a relatively limited set of mechanisms supported there and not much usage in the community.  Pretty much everyone uses the "plain" mechanism, which is basically just passing the username/password to memcached over the channel.  This channel may or may not be encrypted with TLS/SSL.  Using a TLS encrypted channel is supported by Dalli.

Using more sophisticated non-challenge mechanisms would be fairly straightforward.  Adding a challenge mechanism, like 2FA, would not.  That's because Dalli is not really intended for use by an interactive user - it's intended for use by persistent servers that may need to reconnect at any time.

Given memcached's typically use case as a cache of data, this both makes sense and is an appropriate level of security.


@petergoldstein: Thanks again for your quickly answer and for your wishes.

I know, I have published all links about SCRAM, not specified to Dalli but it is to inform you.

The goal is to use SCRAM-SHA-* and SCRAM-SHA-*-PLUS instead of DIGEST-MD5:
- https://github.com/petergoldstein/dalli/search?q=md5

I have published a ticket in important Ruby libs liked to pop/imap/smtp/ldap and memcached, you are the first to reply ^^

Like you have said, SCRAM is really good for security and it is not new, you can see an important list here:
- https://github.com/scram-xmpp/info/issues/1

Note: SCRAM-SHA-1 / SCRAM-SHA-256 / SCRAM-SHA-512 are here (but not in official memcached):
- https://github.com/couchbase/memcached/tree/master/cbsasl
- https://github.com/couchbase/memcached/search?o=asc&q=scram&s=committer-date&type=commits

So I don't think you understand my points above.  You don't seem to understand the use cases within Dalli.

Using SCRAM-SHA-* or SCRAM-SHA-*-PLUS as a replacement for MD5 as it comes up in the search link you provided makes no sense.  MD5 is used in Dalli for key compression, not for any form of authentication or encryption.  There is no user involvement whatsoever.  So "SCRAM" algorithms, whose entire point is to add challenges to authentication requests, are totally inapplicable.

On the SASL front,  SCRAM makes no sense for the typical Dalli use case.  As I noted above:

    Dalli is not really intended for use by an interactive user - it's intended for use by persistent servers that 
    may need to reconnect at any time.

That is completely not a fit for SCRAM, which requires user involvement to authenticate a connection.

So none of this appears to be relevant to Dalli.  Please review my comments here and above, and if you have any questions that are not just a bunch of links I'm happy to try and address.  But at this point I'm going to plan to close this issue and the other you opened sometime in the next couple of days.


Closing based on https://github.com/petergoldstein/dalli/issues/895#issuecomment-1008598618