RFC6331: Moving DIGEST-MD5 to Historic

Dear @petergoldstein,

In first, I wish you a Happy New Year!

20 November 2008: CRAM-MD5 to Historic:
- https://tools.ietf.org/html/draft-ietf-sasl-crammd5-to-historic-00

29 June 2017: CRAM-MD5 to Historic:
- https://tools.ietf.org/html/draft-zeilenga-luis140219-crammd5-to-historic-00

July 2011: RFC6331: Moving DIGEST-MD5 to Historic:
- https://tools.ietf.org/html/rfc6331

August 2021: RFC9051: Internet Message Access Protocol (IMAP) - Version 4rev2:
"Replaced DIGEST-MD5 SASL mechanism with SCRAM-SHA-256. DIGEST-MD5 was deprecated."
- https://tools.ietf.org/html/rfc9051

I add same about SCRAM-MD5.

There are now:
- July 2010: RFC5802: Salted Challenge Response Authentication Mechanism (SCRAM): SASL and GSS-API Mechanisms: https://tools.ietf.org/html/rfc5802 (SCRAM-SHA-1 and SCRAM-SHA-1-PLUS)
- July 2010: RFC5803: Lightweight Directory Access Protocol (LDAP) Schema for Storing Salted: Challenge Response Authentication Mechanism (SCRAM) Secrets: https://tools.ietf.org/html/rfc5803
- November 2015: RFC7677: SCRAM-SHA-256 and SCRAM-SHA-256-PLUS: Simple Authentication and Security Layer (SASL) Mechanisms: https://tools.ietf.org/html/rfc7677

Soon:
- SCRAM-SHA-512(-PLUS): https://tools.ietf.org/html/draft-melnikov-scram-sha-512
- SCRAM-SHA3-512(-PLUS): https://tools.ietf.org/html/draft-melnikov-scram-sha3-512

Hi @Neustradamus.  Happy new year to you as well.

I'm not sure what the ask is.  The `digest_class` is already swappable - if you don't want to use MD5 then you don't have to.  Just set `digest_class` to an appropriate class and you can swap into any digest function you'd like.

We don't use MD5 for any cryptographically significant purposes - all we're doing is generating an injective mapping to the space of strings of length 250 or less.  So there isn't any security concern - even if you did discover a collision.

What are you looking for here?

@petergoldstein: Thanks for your quickly answer and for your wishes.

The goal is to use SCRAM-SHA-* and SCRAM-SHA-*-PLUS instead of.

Please read the next ticket :)

Note: SCRAM-SHA-1 / SCRAM-SHA-256 / SCRAM-SHA-512 is here (but not in official memcached):
- https://github.com/couchbase/memcached/tree/master/cbsasl
- https://github.com/couchbase/memcached/search?o=asc&q=scram&s=committer-date&type=commits

Closing based on https://github.com/petergoldstein/dalli/issues/895#issuecomment-1008598618